:root {
  --shade-10: #fdfcfa;
  --shade-20: #faf8f5;
  --shade-30: #f7f5f1;
  --shade-40: #f4f1ec;
  --shade-50: #f2efea;
  --shade-60: #ebe7e1;
  --shade-70: #e4dfd8;
  --shade-80: #dcd6ce;
  --shade-90: #d4cdc4;
  --shade-100: #ccc5bb;
  --shade-200: #b8afa6;
  --shade-300: #a0968f;
  --shade-400: #8c827c;
  --shade-500: #7a6f6b;
  --shade-600: #665c5a;
  --shade-700: #4a413f;
  --shade-800: #332927;
  --shade-900: #2a2322;
  --shade-910: #262020;
  --shade-920: #232020;
  --shade-930: #191717;
  --shade-940: #141212;
  --shade-950: #100e0e;
  --shade-1000: #0c0b0b;
}
